**/docker
**/.idea
**/.vscode
**/.github
**/.venv
**/htmlcov
**/.git
**/.gitignore
**/.gitattributes
**/.DS_Store
**/__pycache__
**/.pytest_cache
*.pyc
**/.vscode
**/coverage
**/.coverage
**/notes.txt
**/docker-compose.yml
**/*.log
**/README.md
**/.env
**/docker
**/.dockerignore
**/Dockerfile
**/.ruff_cache
