@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dyson Sans Modern";
  src: url("./assets/fonts/dyson-sans-modern.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Remove backticks from inline code */
.prose code::before,
.prose code::after {
  content: none !important;
}

.prose {
  font-family: Merriweather, Georgia, serif;
  font-size: 1.125rem;
  line-height: 2rem;
}

.prose pre {
  padding: 0em;
  margin-top: 0em;
}

.prose a {
  text-decoration: none;
}

.prose a:hover {
  text-decoration: underline;
}
